<%- include('./component/header.ejs') %>
<link rel='stylesheet' href='../assets/css/dailyAgenda.css'>
</head>
<body>

<%- include('./component/nav_bar') %>


<%- include('./component/breadcrumb') %>






<div class="container">
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">دفتر اليومية</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link " id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">اضافة فاتورة</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="supplier-tab" data-bs-toggle="tab" href="#supplier" role="tab" aria-controls="supplier" aria-selected="false">حسابات الموردين</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="client-tab" data-bs-toggle="tab" href="#client" role="tab" aria-controls="client" aria-selected="false">حسابات العملاء</a>
    </li>
  </ul>



  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active " id="home" role="tabpanel" aria-labelledby="home-tab">
       <!-- Search -->
          <%- include('./component/searchbar') %>
          <!-- End Search -->
        
      <%if(invoices.length == 0){%>
              <div class="alert alert-primary   alert-notInvoices">
              لا يوجد فاتورة يومية حتي الان !
            </div>
         <%}else{%>

          <!-- Table -->
          <%- include('./component/tableDailyAgenda') %>
          <!-- End Table -->

          <%}%>

          <!-- Daily Agenda Pagination -->
          <%- include('./component/dailyAgendaPagination') %>
          <!-- End Daily Agenda Pagination -->

  </div>


<!-- Create a invoice -->
    <%- include('./component/CreateAInvoice') %>
<!-- End Create a invoice -->


    


    

    <div class="tab-pane fade" id="supplier" role="tabpanel" aria-labelledby="supplier-tab">
    <%- include('./component/suppliers') %>
    </div>
   

    <div class="tab-pane fade" id="client" role="tabpanel" aria-labelledby="client-tab">
      <%- include('./component/clients') %>
    </div>


  </div>

</div>
</body>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="/assets/js/dailyAgenda.js"></script>


<%- include('./component/footer.ejs') %>